<footer>
    <div class="footer">
        <div class="social">
            <i class="fa-solid fa-globe"></i>
            <a href="#">english(in)</a>
            <i class="fa-solid fa-indian-rupee-sign"></i>
            <a href="#">inr</a>
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
        </div>
        <div class="terms">
            &copy;<a href="#">2024,rohit chowdhury</a>
            <a href="#">Privacy</a>
            <a href="#">Terms</a>
            <a href="#">Sitemap</a>
            <a href="#">Company details</a>
        </div>
    
    </div>
</footer>