<nav class="navbar navbar-expand-md bg-body-light border-bottom fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/listings/home">
        <i class="fa-solid fa-hotel"></i>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="/listings/home">Explore</a>
        </div>
        <!-- <div class="container-fluid ms-auto"> -->
        <form class="d-flex ms-auto" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit" id="search">Search</button>
        </form>
        <!-- </div> -->
        <div class="navbar-nav ms-auto">
          <a class="nav-link" href="/listings/add">Add Listings</a>
          <% if (!currentuser) { %>
            <a href="/signup" class="nav-link"><b>Sign up</b></a>
            <a href="/login" class="nav-link"><b>Log in</b></a>
          <% } %>
          <% if (currentuser) { %>
            <a class="nav-link" href="/logout"><b>Log out</b></a>
          <% } %>
        </div>
      </div>
    </div>
  </nav>