<% layout("layoutss/boilerplate") %>

    <body>
        <div class="row login">
            <h1 class="offset-4" style="color: blue;"><u>Log in</u></h1>
            <div class="">
                <form action="/login" method="post" novalidate class="needs-validation">
                    <div class="group">
                        <label for="userame" class="form-label">Username</label>
                        <input type="text" id="username" class="form-control" name="username" required>
                        <div class="valid-feedback">Looks Good</div>
                    <div class="invalid-feedback">Username is Required</div>
                    </div>
                    <div class="group mt-4">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" id="password" class="form-control" name="password" required>
                        <div class="valid-feedback">Looks Good</div>
                    <div class="invalid-feedback">Password is Required</div>
                    </div>
                    <button class="btn btn-dark mt-3 offset-5">Login</button>

                </form>
            </div>
        </div>
    </body>